<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Day1"
        tools:targetApi="31">
        <activity
            android:name=".persistence.PreferenceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".permissions.PermissionsActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".retrofit.UsersActivity"
            android:exported="false"></activity>
        <activity
            android:name=".fragmentNavigation.FragmentNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.FatherActivity"
            android:exported="false" />
        <activity
            android:name=".class4.themes.ThemesAndStylesActivity"
            android:exported="false"
            android:theme="@style/Theme.Day1" />
        <activity
            android:name=".class4.includeMerge.IncludeExampleActivity"
            android:exported="false" />
        <activity
            android:name=".class4.recycler.FullImageActivity"
            android:exported="false"
            android:parentActivityName=".class4.recycler.RecyclerActivity" />
        <activity
            android:name=".class4.recycler.RecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".class4.navForResult.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".class4.navForResult.FormActivity"
            android:exported="false"
            android:label="Form" />
        <activity
            android:name=".class4.navForResult.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".class4.backstack.DActivity"
            android:exported="false" />
        <activity
            android:name=".class4.backstack.CActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".class4.backstack.BActivity"
            android:exported="false" />
        <activity
            android:name=".class4.backstack.AActivity"
            android:exported="true" />
        <activity
            android:name=".class3.EmptyActivity"
            android:exported="false" />
        <activity
            android:name=".class3.ConditionalsActivity"
            android:exported="true" />
        <activity
            android:name=".class2.ConstraintExampleActivity"
            android:exported="false" />
        <activity
            android:name=".class2.KotlinExamplesActivity"
            android:exported="false" />
        <activity
            android:name=".class1.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".class1.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>